*{
    font-family: "poppins" sans-serif;
}
.hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.696)) ,url(../img/mosque-building-architecture-with-cloudy-weather.jpg);
    width: 100%;
    height: 100vh ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.navbar img{
    width: 200px ;
}
.fa-solid{
    color: rgb(255, 255, 255);
    padding-right: 20px;
}
#navbar.scrolled{
    background-color: rgb(109, 108, 108);
    transition: all 0.3s ease;
}
.#navbar.scrolled:hover{
 transition: all 0.3s ease;
}